/* Author: Chris Brough
 * Date: 5-10-2012
 * Layout: Small, Mobile
 * ------------------------------------------------------------------------------ */

/* - General -------------------------------------------------------------------- */

body {
    width:auto;
    -webkit-text-size-adjust:none;
}

div {
    width:auto !important;
    display:block !important;
    clear:both !important;
    float:none !important;
}

/* - Wrapper -------------------------------------------------------------------- */

#wrapper {
    margin:0;
}

/* - Navigation ----------------------------------------------------------------- */

nav {
    margin:20px;
    padding:0 20px 0 20px;
}

nav ul li {
    padding:10px 0 10px 0;
    display:block;
    border:none;
    border-bottom:1px solid #ECECEC;
}

nav ul li:last-child {
    border:none;
}

nav ul li a {
    display:block;
}

/* - Content -------------------------------------------------------------------- */

#content {
    margin:0 20px 0 20px;
}

#older {
    clear:none !important;
    float:left !important;
}

#newer {
    clear:none !important;
    float:right !important;
}

/* - Archive -------------------------------------------------------------------- */

#archive ul li {
    margin:0 0 10px 0;
    padding:0 0 10px 0;
}

#archive ul li:last-child {
    margin:0;
    border:none;
}

#archive .wrap {
    padding:0 10px 0 10px;
}

#archive .wrap:hover {
    margin:0;
    border:none;
    background-color:none !important;
    background-color:transparent;
}

#archive .link {
    margin:0 0 3px 0;
}

#archive .info {
    text-align:left;
}

/* - Sub-Content ---------------------------------------------------------------- */

#sub-content {
    margin:0 20px 20px 20px;
    color:#666666;
}

/* - Mobile --------------------------------------------------------------------- */

@media mobile {
    :hover {
        color:transparent !important;
        background-color:transparent !important;
    }
}
