/* Author: Chris Brough
 * Date: 2012
 * Layout: General, Large
 * ---------------------------------------------------------------------------- */

/* - Fonts -------------------------------------------------------------------- */

@font-face {
    font-family:LeagueGothic;
    src:url('/fonts/League-Gothic.eot');
}

@font-face {
    font-family:Ostrich;
    src:url('/fonts/Ostrich.eot');
}

@font-face {
    font-family:LeagueGothic;
    src:url('/fonts/League-Gothic.ttf') format('truetype'),
        url('/fonts/League-Gothic.svg') format('svg');
}

@font-face {
    font-family:Ostrich;
    src:url('/fonts/Ostrich.ttf') format('truetype'),
        url('/fonts/Ostrich.svg') format('svg');
}

/* - Reset -------------------------------------------------------------------- */

* {
    margin:0;
    padding:0;
}

html, body {

}

body {
    font-family:Cambria, Georgia, "Times New Roman", Times, serif;
    font-size:100%;
    /*font-size:12pt;*/
    color:#666666;
    background-color:#1C1C1C;
    background-image:url("../images/denim.png");
    background-repeat:repeat;
}

/* - General ------------------------------------------------------------------ */

a,
a:link,
a:visited {
    font-weight:590;
    color:#444444;

    transition:color 0.25s;
    -moz-transition:color 0.25s;
    -webkit-transition:color 0.25s;
    -o-transition:color 0.25s;
}

a:hover {
    text-decoration:none;
    margin:0;
    color:#00AFFF;
    border:none;
}

a:active {
    /*top:1px;*/
    position:relative;
}

blockquote {
    padding:8px 0 6px 20px;
    border-left:8px solid #666666;
    color:#999999;
}

blockquote p {
    margin:0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"LeagueGothic";
    font-size:100%;
    font-weight:100;
    color:#555555;
    line-height:1em;
    text-transform:uppercase;
    text-align:center;
    text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.16);
}

h1 { font-size:22pt; }
h2 { font-size:22pt; }
h3 { font-size:20pt; }
h4 { font-size:18pt; }
h5 { font-size:16pt; }
h6 { font-size:15pt; }

hr {
    height:1px;
    clear:both;
    background-color:#CCCCCC;
    border:none;
}

code {
    padding:0 5px 2px 5px;
    background-color:#555555;
    color:#FFFFFF;
    font-family:monospace;

    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

pre {
    margin:20px 0 0 0;
    padding:20px;
    background-color:#555555;
    color:#FFFFFF;
    text-index:2em;

    overflow-x:auto;
    overflow-y:hidden;
}

pre code {
    padding:0;
}

pre textarea {
    width:100%;
    overflow-y:hidden;
    overflow-x:auto;
    resize:none;
    color:#FFFFFF;
    background:transparent;
    border:none;
    display:block;
    font-size:100%;
    font-family:monospace;
}

pre textarea:focus {
    outline:none;
}

.left  { float:left; }
.right { float:right; }

.t-left  { text-align:left; }
.t-right { text-align:right; }

#content .pager {
    padding:0 0 20px 0;
    display:inline;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* - Shared ------------------------------------------------------------------- */

blockquote, iframe,
h1, h2, h3, h4, h5, h6,
hr, p, pre, ul, ol {
    margin:0 0 20px 0;
    list-style-type:none;
}

blockquote, p, ul, ol {
    line-height:1.5em;
}

nav,
#toc,
.section {
    border-bottom:1px solid #CCCCCC;
    background-color:#F4F4F4;

    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
    box-shadow:0 0 3px rgba(0,0,0,0.075);

    transition:color 0.2s;
    -moz-transition:color 0.2s;
    -webkit-transition:color 0.2s;
    -o-transition:color 0.2s;
}

#archive .info,
#content .archive,
#content .pager,
#content .readmore,
#content .date {
    font-size:9pt;
    font-weight:bold;
    text-transform:uppercase;
}

/* - Wrapper ------------------------------------------------------------------ */

#wrapper {
    width:882px;
    margin:0 auto 0 auto;
    overflow:auto;
    background-color:#F1F1F1;

    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.1);
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

/* - Logo --------------------------------------------------------------------- */

#logo {
    width:200px;
    margin:0 auto 0 auto;
    padding:20px 0 12px 0;
    font:36pt "Ostrich", "LeagueGothic";
    text-transform:uppercase;
    text-align:center;
}

#logo a {
    text-decoration:none;
    color:#C1C1C1;
}

/* - Nav ---------------------------------------------------------------------- */

nav {
    margin:0 0 20px 0;
    padding:6px 40px 6px 40px;
    list-style-type:none;
    text-align:center;
    text-transform:uppercase;
}

nav ul {
    margin:0;
}

nav ul li {
    padding:0 0.5em 0 0.5em;
    display:inline;
    border-right:2px solid #ECECEC;
}

nav ul li:last-child {
    border:none;
}

nav ul li a {
    font-family:arial;
    font-size:10pt;
    font-weight:bold;
    text-decoration:none;
}

nav .active {
    text-decoration:underline;
}

/* - Article ------------------------------------------------------------------- */

#content {
    width:560px;
    height:auto;
    margin:0 40px 0 40px;
    clear:both;
    float:left;
}

#content .print-links {
    display:none;
}

#content iframe,
#content img {
    max-width:100%;
    margin:0 auto 20px auto;
    padding:2px;
    position:relative;
    right:2px;
    background-color:#FFFFFF;
    display:block;
    border:1px solid #555555;

    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.35);
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.35);
    box-shadow:0 0 6px rgba(0,0,0,0.35);

    transition:border-color 0.25s, box-shadow 0.25s;
    -moz-transition:border-color 0.25s, -moz-box-shadow 0.25s;
    -webkit-transition:border-color 0.25s, -webkit-box-shadow 0.25s;
    -o-transition:border-color 0.25s, -o-box-shadow;
}

#content iframe:hover,
#content img:hover {
    border-color:#00AFFF !important;
}

#content img:active {
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0) !important;
    -moz-box-shadow:0 0 3px rgba(0,0,0,0) !important;
    box-shadow:0 0 6px rgba(0,0,0,0) !important;
}

/* - Table of Contents -------------------------------------------------------- */

#toc {
    margin:0 0 20px 0;
    padding:20px 20px 20px 40px;
}

#toc ul {
    margin-bottom:0;
    list-style-type:square;
}

/* - Resume ------------------------------------------------------------------- */

#resume #skills {
    width:30%;
    float:right;
}

#resume #xp {
    width:65%;
    float:left;
}

/* - Archive ------------------------------------------------------------------ */

#archive ul li {
    margin:0 0 0.25em 0;
}

#archive .wrap:hover {
    margin:-1px 0 -1px 0;
    border-bottom:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    background-color:#F4F4F4;
}

#archive .link {
    width:70%;
    display:inline;
    float:left;
}

#archive .info {
    width:30%;
    height:16px;
    display:inline;
    float:right;
    text-align:right;
}

#archive .year {
    padding-top:20px;
}

/* - Sub-Content -------------------------------------------------------------- */

#sub-content {
    width:200px;
    margin:0 40px 0 0;
    float:right;
    display:inline;
    font-size:11pt;
    color:#999999;
}

#sub-content a {
    color:#999999;
}

#sub-content a:hover {
    color:#00AFFF;
}

.section {
    margin:0 0 20px 0;
    padding:20px 20px 0px 20px;
}

.section:hover {
    color:#666666;
}

#section-contact ul li,
#section-contact ul li a {
    display:inline-block;
}

#twitter-button,
#linkedin-button,
#github-button,
#rss-button {
    width:30px;
    height:30px;
}

#twitter-button { background-image:url("/images/social/twitter-light.png"); }
#linkedin-button { background-image:url("/images/social/linkedin-light.png"); }
#github-button { background-image:url("/images/social/github-light.png"); }
#rss-button { background-image:url("/images/social/rss-light.png"); }

#twitter-button:hover { background-image:url("/images/social/twitter-color.png"); }
#linkedin-button:hover { background-image:url("/images/social/linkedin-color.png"); }
#github-button:hover { background-image:url("/images/social/github-color.png"); }
#rss-button:hover { background-image:url("/images/social/rss-color.png"); }

#section-twitter {
    word-wrap:break-word;
    overflow:hidden;
}

#tweet {
    margin:0;
}

#tweet ul {
    list-style-type:none;
}

#tweet-date {
    float:right;
    font-style:italic;
}

/* - Post --------------------------------------------------------------------- */

.post ul,
.post ol {
    margin:0 0 20px 2em;
}

.post ul { list-style-type:square; }
.post ol { list-style-type:decimal; }

/* - Footer ------------------------------------------------------------------- */

footer {
    width:inherit;
    height:auto;
    margin:20px 0 0 0;
    clear:both;
    text-align:center;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size:10pt;
    color:#333333;
}

footer a,
footer a:visited {
    color:#444444;
}

footer a:hover,
footer a:active {
    color:#555555;
}

footer .nav {
    margin:0;
    padding:0 10px 0 10px;
}

footer .nav li {
    display:inline;
}

/*  Columns   */

