<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="missionContent">
				<h1>ECOLOGIST</h1>
				<h2>YOUR MISSION: <span class="missionObjectiveSpan">COLLECT BATS</span></h2>
				<i class="fa fa-star" id="fVStar1"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star" id="fVStar2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star" id="fVStar3"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star" id="fVStar4"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-star" id="fVStar5"></i>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="resultsContent">
			<div class="col-md-6">
				<div class="resultsPane">
					<h3 class="resultsPaneHeader">TASKS COMPLETED</h3>
					<hr class="resultsPaneLine">
					<ul class="fa-ul">
						<li id="ecoWoreProtectiveGearStar"><i class="fa-li fa fa-star tasksStar" id="tasksStar1"></i><span class="result">Wore Protective Gear</span></li>
						<li id="ecoCapturedFruitBat"><i class="fa-li fa fa-star tasksStar" id="tasksStar2"></i><span class="result">Captured Fruit Bats</span></li>
						<li id="ecoCapturedInsectBat"><i class="fa-li fa fa-star tasksStar" id="tasksStar3"></i><span class="result">Captured Insectivorous Bats</span></li>
						<li id="ecoSpeedBonus"><i class="fa-li fa fa-star tasksStar" id="tasksStar4"></i><span class="result">Speed Bonus</span></li>
						<li id="ecoFiveEachBonus"><i class="fa-li fa fa-star tasksStar" id="tasksStar5"></i><span class="result">Five of Each Bonus</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="resultsPane">
					<h3 class="resultsPaneHeader" id="resultsPaneHeader">GREAT JOB!</h3>
                    <hr class="resultsPaneLine" id="resultsPaneLine">
					<h2 class="resultsPaneText" id="resultsPaneText"></h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="missionStartCountdown">
	<svg>
    	<circle cx="125" cy="125" r="100" class="nextMissionCountdownTimer"></circle>
  	</svg>
</div>

<div id="missionBeginText"">
	<span>NEXT MISSION <br>BEGINS IN</span>
</div>
<span id="missionCountdownNumber"></span>