<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="missionContent">
				<h1>ECOLOGIST</h1>
				<h2>YOUR MISSION: <span class="missionObjectiveSpan">COLLECT BATS</span></h2>
			</div>
		</div>
	</div>
	<img src="images/paper1.png" height="30%" width="30%" id="mission2paper1" />
	<img src="images/paper2.png" height="30%" width="30%" id="mission2paper2" />
	<img src="images/paper3.png" height="30%" width="30%" id="mission2paper3" />
</div>

<span class="objectiveHeader" id="mission2Objective1">OBJECTIVE 1</span>
<span class="objectiveHeader" id="mission2Objective2">OBJECTIVE 2</span>
<span class="objectiveHeader" id="mission2Objective3">OBJECTIVE 3</span>

<img src="images/ecologist/2B_Net.png" id="netIMGObjective" />
<img src="images/ecologist/2B_2_FruitBat.png" id="fruitBatIMGObjective" />
<img src="images/ecologist/2B_3_InsectivrousBat.png" id="insectBatIMGObjective" />

<span class="taskHeader" id="mission2Objective1Task">PLACE MIST NET</span>
<span class="taskHeader" id="mission2Objective2Task">CATCH FRUIT BATS</span>
<span class="taskHeader" id="mission2Objective3Task">CATCH INSECTIVOROUS BATS</span>

<span class="taskDescription" id="mission2Objective1TaskDescription">Observe the flight paths of both<br>species of bats to determine the<br>best position for your net.</span>
<span class="taskDescription" id="mission2Objective2TaskDescription">Capture the larger fruit<br>bats to collect samples.</span>
<span class="taskDescription" id="mission2Objective3TaskDescription">Reposition your net to capture<br>the smaller insectivorous bats<br>to collect samples.</span>

<div id="missionStartCountdown">
	<svg>
    	<circle cx="125" cy="125" r="100" class="currentObjectiveMissionCountdownTimer"></circle>
  	</svg>
</div>

<div id="missionBeginText"">
<span>MISSION WILL <br>BEGIN IN</span>
</div>
<span id="missionCountdownNumber"></span>