<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="missionContent">
				<h1>EPIDEMIOLOGIST</h1>
				<h2>YOUR MISSION: <span class="missionObjectiveSpan">PLAN SOLUTIONS</span></h2>
			</div>
		</div>
	</div>
	<img src="images/paper1.png" height="27%" width="27%" id="paper1" />
	<img src="images/paper2.png" height="27%" width="27%" id="paper2" />
	<img src="images/paper3.png" height="27%" width="27%" id="paper3" />
</div>

<span class="objectiveHeader" id="objective1">OBJECTIVE 1</span>
<span class="objectiveHeader" id="objective2">OBJECTIVE 2</span>
<span class="objectiveHeader" id="objective3">OBJECTIVE 3</span>

<img src="images/targetCircleBlack.png" id="targetCircleIMGObjective" />
<img src="images/cottonSwab.png" id="cottonSwabIMGObjective" />
<img src="images/pot.png" id="potIMGObjective" />

<span class="taskHeader" id="mission3Objective1Task">INVESTIGATE PROBLEMS</span>
<span class="taskHeader" id="mission3Objective2Task">EVALUATE PROBLEMS</span>
<span class="taskHeader" id="mission3Objective3Task">SELECT SOLUTION</span>

<span class="taskDescription" id="mission3Objective1TaskDescription">Explore three problem areas <br> on the map that impact <br> disease spread.</span>
<span class="taskDescription" id="mission3Objective2TaskDescription">Consider three solutions to <br> prevent disease spread.</span>
<span class="taskDescription" id="mission3Objective3TaskDescription">Choose the best option <br> for the village.</span>

<div id="missionStartCountdown">
	<svg>
    	<circle cx="125" cy="125" r="100" class="currentObjectiveMissionCountdownTimer"></circle>
  	</svg>
</div>

<div id="missionBeginText"">
<span>MISSION WILL <br>BEGIN IN</span>
</div>
<span id="missionCountdownNumber"></span>