<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="missionContent">
				<h1>FIELD VETERINARIAN</h1>
				<h2>YOUR MISSION: <span class="missionObjectiveSpan">COLLECT SAMPLES</span></h2>
			</div>
		</div>
	</div>
	<img src="images/paper1.png" height="27%" width="27%" id="paper1" />
	<img src="images/paper2.png" height="27%" width="27%" id="paper2" />
	<img src="images/paper3.png" height="27%" width="27%" id="paper3" />
</div>

<span class="objectiveHeader" id="objective1">OBJECTIVE 1</span>
<span class="objectiveHeader" id="objective2">OBJECTIVE 2</span>
<span class="objectiveHeader" id="objective3">OBJECTIVE 3</span>

<img src="images/syringe.png" id="syringeIMGObjective" />
<img src="images/cottonSwab.png" id="cottonSwabIMGObjective" />
<img src="images/pot.png" id="potIMGObjective" />

<span class="taskHeader" id="objective1Task">BLOOD SAMPLE</span>
<span class="taskHeader" id="objective2Task">NASAL SAMPLE</span>
<span class="taskHeader" id="objective3Task">MOSQUITO SAMPLE</span>

<span class="taskDescription" id="objective1TaskDescription">Drag the syringeplunger to <br> collect a blood sample from the goat.</span>
<span class="taskDescription" id="objective2TaskDescription">Trace the pattern to collect <br>a nasal sample from the pig.</span>
<span class="taskDescription" id="objective3TaskDescription">Use the dipper to collect <br> mosquito larvae in a sample <br> from the well.</span>

<div id="missionStartCountdown">
	<svg>
    	<circle cx="125" cy="125" r="100" class="currentObjectiveMissionCountdownTimer"></circle>
  	</svg>
</div>

<div id="missionBeginText"">
<span>MISSION WILL <br>BEGIN IN</span>
</div>
<span id="missionCountdownNumber"></span>