<div class="container-fluid">
	<div class="row headerRow">
		<div class="col-md-3">
			<div id="currentMissionCountdown">
				<svg>
			    	<circle cx="50" cy="50" r="35" class="currentMissionCountdownTimer"></circle>
			  	</svg>
			</div>
			<span id="currentMissionCountdownNumber"></span>
			<div class="missionObjectiveBox">
				<span class="missionObjectiveBoxHeader">BLOOD SAMPLE&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<h1 class="missionObjectiveHeader">DRAG THE SYRINGE PLUNGER</h1>
			<h2 class="missionDescriptionHeader">Drag the plunger to draw a blood sample.</h2>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row contentRow">
		<div class="col-md-3 col-md-offset-3">
			<div id="syringeMeter">
				<img src="images/syringePull.png" id="syringe" />
			</div>
		</div>
	</div>
</div>

<img src="images/syringe.png" id="syringeIMGMission" />

<div id="modalMiddle">
	<div class="modalHeader"><h1>TEST 1 COMPLETE</h1></div>
	<div class="row">
		<div class="col-md-12">
			<div class="modalTextContent">
				<span id="modalTextContentText">Blood samples have now been taken from the goats, pigs, dogs, monkeys and chickens. These will be sent to the lab</span>
			</div>
			<br>
			<span class="modalNextButton" ng-click="beginMission()">NEXT STEP: Oral Sample <i class="fa fa-chevron-right"></i></span>
		</div>
	</div>
</div>