<div id="modalMiddle">
	<div class="modalHeader"><h1>COLLECT SAMPLES</h1></div>
	<div class="modalTextContent">
		<div class="row">
			<div class="col-md-12">
					<span id="modalTextContentText">Physicians are reporting a cluster of disease in this area. We need samples from each of the animals that comonly carries these diseases.</span>
					<hr>
					<div class="col-md-4 text-center">
						<img src="images/mosquito.png" />
					</div>
					<div class="col-md-4 text-center">
						<img src="images/liveStock.png" />
					</div>
					<div class="col-md-4 text-center">
						<img src="images/dog.png" />
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 text-center">
					<span class="collectSamplesSpanHeader">Mosquitos</span>
					<br>
					<span>Japanese Encephalitis</span>
				</div>
				<div class="col-md-4 text-center">
					<span class="collectSamplesSpanHeader">Livestock</span>
					<br>
					<span>Nipha Virus</span>
				</div>
				<div class="col-md-4 text-center">
					<span class="collectSamplesSpanHeader">Dogs</span>
					<br>
					<span>Rabies</span>
				</div>
			</div>
		</div>
	</div>
	<br>
	<span class="modalNextButton" ng-click="beginMission()">BEGIN <i class="fa fa-chevron-right"></i></span>
</div>