<div class="container-fluid">
	<div class="row headerRow">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<h1>TRACE THE PATTERN BELOW</h1>
			<h2>Follow the pattern as closely as possible.</h2>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row contentRow">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center" id="oralSampleDrawingArea">
			<canvas id="oralSampleCanvas" width="800px" height="500px">
			</canvas>
			<div id="qTip">
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

<div id="modalMiddle">
	<div class="modalHeader"><h1>TEST 2 COMPLETE</h1></div>
	<div class="row">
		<div class="col-md-12">
			<div class="modalTextContent">
				<span id="modalTextContentText">Nasal or oral samples have now been taken from the pigs, goats, monkeys and dogs. These will be sent to the lab.</span>
			</div>
			<br>
			<span class="modalNextButton" ng-click="beginMission()">NEXT STEP: Mosquito Collection <i class="fa fa-chevron-right"></i></span>
		</div>
	</div>
</div>