<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="protectiveGearContent">
				<h1>FIELD VETERINARIAN</h1>
				<h2>DO YOU NEED PROTECTIVE GEAR?</h2>
				<button ng-click="yes()" class="pgButton">YES</button>
				<br>
				<br>
				<button ng-click="no()" class="pgButton">NO</button>
			</div>
		</div>
	</div>
</div>

<div id="modalMiddle">
	<div class="modalHeader"></div>
	<div class="modalTextContent">
		<span id="modalTextContentText"></span>
	</div>
	<br>
	<span class="modalNextButton" ng-click="beginMission()">NEXT <i class="fa fa-chevron-right"></i></span>
</div>