---
layout: default
title: Santiago Alvarez
---

<div id="blog">
    <ul>
        {% for post in paginator.posts %}
            <li>
                <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <div class="post">
                    {{ post.excerpt }}
                    <p>
                        <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
                        <a class="readmore right" href="{{ post.url }}">read more
                            &raquo;</a>
                        <br />
                    </p>
                </div>
                <hr />
            </li>
        {% endfor %}
    </ul>
    {{ paginator | pager_links }}
</div>
